.divLink {
  margin: 10px;
}

.divForm {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 400px;
}
